{% block content %}
{% if user.is_authenticated %}
    <style>
        th, td{
            padding-right: 1em;
        }
    </style>
    <h1>Orders for Wesley's Pie Shop</h1>
    <form action="." method="post">
    {% csrf_token %}
        <table>
            <tr><th>number</th><th>size</th><th>toppings</th><th>drinks</th><th>state</th><th>date and time</th></tr>
            {% for order in orders %}
            <tr>
                <td>{{order.phone}}</td> 
                <td>{{order.data.size}}</td> 
                <td>{{order.data.toppings}}</td> 
                <td>{{order.data.drinks}}</td> 
                <td>{{order.data.state}}</td> 
                <td>{{order.data.timestamp}}</td>
                <td><button type="submit" name="delete" value="{{order.id}}">X</button></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
    <p>Log in to see orders for Wesley's Pie Shop</p>
    <tr><a href="{% url 'login' %}">Log In</a></tr><br><br>
    <th>Don't have an account?</th>
    <a href="{% url 'signup' %}">Sign Up</a>
  {% endif %}
  {% endblock %}


